@charset "UTF-8";
#blog {
    width: auto;
    height: 530px;
    border: 2px solid #ccc;
    font-size: 12px;
}
#blog h2 {
    text-indent:0;
    text-align: center;
    margin: 0 0 10px 0;
}
#blog dl {
    width: 150px;
    margin: 10px 0 0 32px;
    float: left;
}
#blog dl dt {
    width: 150px;
    margin: 0 0 5px 0;
}
#blog dl dt img {
    margin: 0 auto;
    display: block;
}
#blog dl dd {
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 75px;
}
#blog dl dd a {
    text-decoration: none;
    color: #333;
}
#blog dl dd a:hover {
    color: red;
}
#blog dl dd.user {
    color: #f60;
    width: 150px;
    float: none;
}
#blog dl dd.message {
    background: url(../../images/message.png) no-repeat left center;
}
#blog dl dd.friend {
    background: url(../../images/friend.png) no-repeat left center;
}
#blog dl dd.guest {
    background: url(../../images/note.png) no-repeat left center;
}
#blog dl dd.flower {
    background: url(../../images/flower.png) no-repeat left center;
}