@charset "utf-8";
#user {
    width: 340px;
    height: 250px;
    float: left;
    border: 2px solid #ccc;
    font-size: 12px;
}
#user dl {
    width: 185px;
    margin: 0 auto;
    padding: 25px 0 0 0;
}
#user dl dt {
    width: 185px;
    margin: 0 0 5px 0;
}
#user dl dt img {
    margin: 0 auto;
    display: block;
}
#user dl dd {
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 85px;
}
#user dl dd.email,#user dl dd.url {
    width: 190px;
    text-align: left;
    padding: 2px 0 0 0;
}
#user dl dd a {
    text-decoration: none;
    color: #333;
}
#user dl dd a:hover {
    color: red;
}
#user dl dd.user {
    color: #f60;
    width: 185px;
    float: none;
}
#user dl dd.message {
    background: url(../../images/message.png) no-repeat left center;
}
#user dl dd.friend {
    background: url(../../images/friend.png) no-repeat left center;
}
#user dl dd.guest {
    background: url(../../images/note.png) no-repeat left center;
}
#user dl dd.flower {
    background: url(../../images/flower.png) no-repeat left center;
}
#pics {
    width: 340px;
    height: 250px;
    float: left;
    margin: 10px 0 0 0;
    border: 2px solid #ccc;
}
#list {
    width: 600px;
    height: 514px;
    float: right;
    border: 2px solid #ccc;
}
#list a.post {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px 10px 0 auto;
    background: url(../../images/write.png) no-repeat;
}
#list ul.article {
    padding: 0 40px;
}
#list ul.article li {
    height: 25px;
    margin: 5px 0;
    border-bottom: 1px dashed #333;
}
#list ul.article li a {
    color: #333;
    text-decoration: underline;
}
#list ul.article li a:hover {
    color: #f60;
}
#list ul.article li em {
    float: right;
    font-style: normal;
}
#list ul.article li strong {
    font-weight: bolder;
}